/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navtab {
    --active-index: 0;
    position: relative;
    width: 95%;
    height: 80px;
    background: white;
    border: 5px solid white;
    border-radius: 1% 1% 10% 10%/15% 15% 50% 50%;
    overflow: hidden;
    margin: auto;
}
.navtab ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navtab ul .navtab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    width: 20%;
    height: 100%;
    color: #0288d1;
    cursor: pointer;
    transition: 0.5s ease;
}
.navtab ul .navtab-item svg {
    transition: 0.5s ease;
}
.navtab ul .navtab-item span {
    font-size: 20px;
    user-select: none;
    opacity: 0;
    transition: 0.5s ease;
}
.navtab ul .navtab-item.active {
    width: 40%;
}
.navtab ul .navtab-item.active svg {
    transform: translateY(-5px);
}
.navtab ul .navtab-item.active span {
    opacity: 1;
}
.navtab::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background: #b3e5fc;
    border-radius: 20px;
    transform: translateX(calc(50% * var(--active-index)));
    transition: 0.5s ease;
}
